<!doctype html>
<html>

<head>
	<title>PG Profile</title>
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="styleshee" type="text/css" href="css/vendor/bootstrap.flatly.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="app">

		<div id="nav-view"></div>

		<div class="container">

			<div id="side-view" class="col-sm-4 col-md-3 col-lg-3 hidden-xs"></div>
			<div id="main-view" class="col-sm-8 col-md-9 col-lg-9"></div>
		</div>

	</div>

	<script type="text/template" id="navTemplate">
		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My Post-Gazette Profile</a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav visible-xs">
					<li class="active"><a href="#">My Profile</a></li>
					<li><a href="#">Change Password</a></li>
					<li><a href="#">Account History</a></li>
					<li><a href="#">Billing Information</a></li>
					<li><a href="#">Manage My Subscription</a></li>
					<li><a href="#">Link Print Subscription</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right hidden-sm">
					<li><a href="#">Signed in as <%= firstname %> <%= lastname %></a></li>
					<li><a id="logout" href="#" class="text-danger">Logout <i class="icon-off"></i></a></li>
				</ul>
			</div>
		</nav>
	</script>

	

	<script type="text/template" id="sideTemplate">
		<a id="profile" href="#" class="list-group-item active">My Profile</a>
		<a id="password" href="#" class="list-group-item">Change Password</a>
		<a id="history" href="#" class="list-group-item">Account History</a>
		<a id="credit" href="#" class="list-group-item">Billing Information</a>
		<a id="subscription" href="#" class="list-group-item">Manage My Subscription</a>
		<a id="link" href="#" class="list-group-item">Link Print Subscription</a>
	</script>

	<script type="text/template" id="profileTemplate">
		<div class="col-xs-12 col-md-6 col-lg-6">
			<h1>My Profile</h1>
			<address>
				<strong><%= firstname %> <%= lastname %></strong><br />
				<%= email %><br />
				<%= address %><br />
				<%= city %>, <%= state %> <%= zip %><br />
				<%= phone %>
			</address>

			

			<div class="form-group">
				<button id="editProfileBtn" class="btn btn-primary">Edit my profile</button>
			</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6">
	</script>

	<script type="text/template" id="editProfileTemplate">
		<div class="col-xs-12 col-md-6 col-lg-6">
			<h1>My Profile</h1>
			<div class="form-group">
				<input id="street" class="form-control" placeholder="Street Address" value="<%= address %>">
			</div>
			<div class="form-group">
				<input id="city" class="form-control" placeholder="City" value="<%= city %>">
			</div>
			<div class="form-group">
				<input id="state" class="form-control" placeholder="State" value="<%= state %>">
			</div>
			<div class="form-group">
				<input id="zip" class="form-control" placeholder="Zipcode" value="<%= zip %>">
			</div>
			<div class="form-group">
				<input id="phone" class="form-control" placeholder="Phone Number" value="<%= phone %>">
			</div>
			<div class="form-group">
				<input id="email" class="form-control" placeholder="Email Address" value="<%= email %>">
			</div>
			<div class="form-group">
				<button id="cancelBtn" class="btn btn-danger">Cancel</button>
				<button id="submitEditBtn" class="btn btn-primary">Submit Changes</button>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-6">
	</script>

	<script type="text/template" id="changePasswordTemplate">
		<div class="col-xs-12 col-md-6 col-lg-6">
			<h1>Change Password</h1>
			<div class="form-group">
				<input id="original" type="password" class="form-control" placeholder="Original Password">
			</div>
			<div class="form-group">
				<input id="new" type="password" class="form-control" placeholder="New Password">
			</div>
			<div class="form-group">
				<input id="confirm" type="password" class="form-control" placeholder="Retype New Password">
			</div>
			<div class="form-group">
				<button class="btn btn-primary">Submit</button>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6"></div>
	</script>

	<script type="text/template" id="creditCardTemplate">
		<h1>My Payment Options</h1>
		<div class="col-xs-12 col-md-6 col-lg-6">
			<h3>Credit Card Information</h3>
			<address>
				<strong>Firstname Lastname</strong><br>
				Type: Visa<br>
				**** **** **** **** 0002<br>
				Exp: xx/xxxx
			</address>

			<div class="form-group">
				<button id="editCardBtn" class="btn btn-primary">Edit Credit Card Details</button>
			</div>
			
		</div>
		<div class="col-xs-12 col-md-6 col-lg-6">
			<h3>EZ-PAY</h3>
			<p>EZ-PAY is the simplest, most economical payment plan. By answering YES here, your payment will be automatically debited or credited to the card of your choice at renewal.
			
			<div class="form-group">
				<input type="checkbox" value=""> Yes, enroll me in EZ-PAY
			</div>

			<div class="form-group">
				<label>EZ-PAY billing cycle</label>
				<select class="form-control">
					<option>1 week</option>
					<option>2 weeks</option>
					<option>3 weeks</option>
					<option>4 weeks</option>
					<option>5 weeks</option>
					<option>6 weeks</option>
					<option>7 weeks</option>
					<option>8 weeks</option>
				</select>
			</div>

			<div class="form-group">
				<label>Day of the month payments occur</label>
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

			<div class="form-group">
				<button id="ezpayBtn" class="btn btn-primary">Enroll in EZ-PAY</button>
			</div>
		</div>
	</script>

	<script type="text/template" id="editCreditCardTemplate">
		<div class="col-xs-12 col-lg-6">
			<h3>Edit Credit Card</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name on card">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Card Number">
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<div class="form-group">
						<select class="form-control">
							<option select>Expiration Month</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="form-group">
						<select class="form-control">
							<option select>Expiration Year</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
			</div>

			<h3>Billing Address</h3>
			<div class="form-group">
				<input id="sameAsProfile" type="checkbox"> Use address on file
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Address">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="City">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="State">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Zipcode">
			</div>
			<div class="form-group">
				<button id="cancelBtn" class="btn btn-danger">Cancel</button>
				<button id="submitBtn" class="btn btn-primary">Submit</button>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6"></div>
	</script>


	<script type="text/template" id="noSubs">
		Error
	</script>

	<script type="text/template" id="subscriptionTemplate">
		<td><input type="checkbox" value=""></td>
		<td><%= planName %></td>
		<td><%= planTerm %></td>
		<td><%= totalCost %></td>
	</script>

	<script type="text/template" id="subscriptionsTemplate">
		<div class="col-xs-12 col-lg-12">
			<h1>Subscription Template</h1>
			<table class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Plan Name</th>
						<th>Plan Term</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</script>


	<script type="text/template" id="accountRowTemplate">
		<td><%= id %></td>
		<td><%= details %></td>
		<td><%= timestamp %></td>
	</script>

	<script type="text/template" id="accountTableTemplate">
		<div class="col-xs-12 col-lg-12">
			<h1>Account History</h1>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Details</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</script>


	<script type="text/template" id="linkPrintTemplate">
		<div class="col-xs-12 col-lg-6">
			<h1>Link Print Subscription</h1>
			<div class="form-group">
				<input id="email" type="text" class="form-control" placeholder="Print Account #">
			</div>
			<div class="form-group">
				<input id="pass" type="text" class="form-control" placeholder="Street Number (e.g. 2073)">
			</div>
			<div class="form-group">
			<button id="loginBtn" class="btn btn-primary">Link my accounts</button>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6"></div>
	</script>


	<script type="text/template" id="loginTemplate">
		<div class="col-xs-12 col-lg-6">
			<h1>Login:</h1>
			<div class="form-group">
				<input id="email" type="text" class="form-control" placeholder="Email Address">
			</div>
			<div class="form-group">
				<input id="pass" type="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
			<button id="loginBtn" class="btn btn-primary">Login</button>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6"></div>
	</script>
	

	<script src="js/vendor/jquery-1.10.2.min.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/backbone.js"></script>
	<script src="js/vendor/backbone.marionette-1.1.min.js"></script>
	<script src="js/vendor/jquery.cookie.js"></script>
	<script src="js/app/app.js"></script>

</body>
</html>